#expenses-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: grey;
}

table, th, td {
  border: black 2px solid;
  text-align: center;
  border-collapse: collapse;
  padding: 5px;
}

.delete-button {
  background-color: hsl(11deg 73% 48%);
}